body {
    margin: 0;
}

#scene {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    position: relative;
}

/**** ANIMATION START TIL SPILSKÆRM *****/

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}



/******** START *********/

#start {
    background-image: url("Startsk%C3%A6rm_ny.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin: none;
    top: 0;
    left: 0;
}

#play {
    background-image: url("hojtaler.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25vw;
    height: 17vw;
    z-index: 3;
    position: absolute;
    left: 55vw;
    top: 36vw;
}

#karakter {
    background-image: url("Karakter.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16vw;
    height: 28vw;
    z-index: 3;
    position: absolute;
    left: 35vw;
    top: 28vw;
    transform: scaleX(-1);

}

#settings {
    background-image: url("Setting.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 6vw;
    z-index: 1;
    position: absolute;
    left: 1vw;
    top: 50vw;

}

/******** GAME *********/

#game_background {
    background-image: url("Spilsk%C3%A6rm_ny.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    z-index: 1;
    position: absolute;
    overflow: hidden;
}

#energy {
    background-image: url("Barometer.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 17vw;
    z-index: 1;
    position: absolute;
    left: 1vw;
    top: 39vw;
}

#time {
    background-image: url("Tid.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 12vw;
    z-index: 1;
    position: absolute;
    left: 83vw;
    top: 44vw;
}

#fluesvamp1 {
    background-image: url("Fluesvamp1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 10vw;
    z-index: 3;
    position: absolute;
    left: 50vw;
    top: -10vw;
    animation-delay: 5s;


}

#fluesvamp2 {
    background-image: url("Fluesvamp2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 10vw;
    z-index: 3;
    position: absolute;
    left: 40vw;
    top: -10vw;
    animation-delay: 3.5s;

}

#fluesvamp3 {
    background-image: url("Fluesvamp3.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 10vw;
    z-index: 3;
    position: absolute;
    left: 30vw;
    top: -10vw;

}

#redbull {
    background-image: url("Redbull.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 8vw;
    z-index: 3;
    position: absolute;
    left: 20vw;
    top: -10vw;
    animation-delay: 2.5s;

}

#godsvamp1 {
    background-image: url("God%20svamp1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 8vw;
    z-index: 3;
    position: absolute;
    left: 60vw;
    top: -10vw;
    animation-delay: 1.5s;

}

#godsvamp2 {
    background-image: url("God%20svamp2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 8vw;
    z-index: 3;
    position: absolute;
    left: 70vw;
    top: -10vw;
    animation-delay: 3s;

}

#godsvamp3 {
    background-image: url("God%20svamp3.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 8vw;
    z-index: 3;
    position: absolute;
    top: -10vw;
    animation-delay: 2s;

}

#godsvamp4 {
    background-image: url("God%20svamp4.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 10vw;
    z-index: 3;
    position: absolute;

    top: -10vw;
    animation-delay: 1s;

}

.left8 {
    left: 80vw;
}

.left9 {
    left: 90vw;
}

.fall_down {
    animation-name: fall_down;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fall_down {
    from {
        transform: translateY(-70vw);
    }

    to {
        transform: translateY(100vw);
    }
}

/******** SETTINGS *********/

#menu_background {
    background-image: url("Startsk%C3%A6rm_settings.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin: none;
    top: 0;
    left: 0;
    display: none;

}

#indstillinger {
    background-image: url("indstillinger.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 30vw;
    z-index: 3;
    position: absolute;
    left: 54vw;
    top: 5vw;
    display: none;
}

#settings #karakter {
    background-image: url("Karakter.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 50vw;
    z-index: 3;
    position: absolute;
    left: 20vw;
    top: 17vw;
    transform: scaleX(-1);
    display: none;

}

/******** GAMEOVER *********/


#game_over {
    background-image: url("game_over.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 30vw;
    z-index: 3;
    position: absolute;
    left: 54vw;
    top: 5vw;
    display: none;
}

#gameover #karakter {
    background-image: url("Karakter.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 50vw;
    z-index: 3;
    position: absolute;
    left: 20vw;
    top: 17vw;
    transform: scaleX(-1);
    display: none;

}

/******** GAMECOMPLETE *********/

#game_complete {
    background-image: url("game_complete.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 30vw;
    z-index: 3;
    position: absolute;
    left: 54vw;
    top: 5vw;
    display: none;
}

#gamecomplete #karakter {
    background-image: url("Karakter.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 50vw;
    z-index: 3;
    position: absolute;
    left: 20vw;
    top: 17vw;
    transform: scaleX(-1);
    display: none;

}
