/******** GAME *********/

#game_background {
    background-image: url("Spilsk%C3%A6rm.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

#energy {
    background-image: url("Barometer.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 17vw;
    z-index: 1;
    position: absolute;
    left: 1vw;
    top: 40vw;
}

#time {
    background-image: url("Tid.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 12vw;
    z-index: 1;
    position: absolute;
    left: 83vw;
    top: 44vw;
}

#fluesvamp1 {
    background-image: url("Fluesvamp1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 10vw;
    z-index: 1;
    position: absolute;
    left: 50vw;
    top: 10vw;

}

#fluesvamp2 {
    background-image: url("Fluesvamp2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 10vw;
    z-index: 1;
    position: absolute;
    left: 40vw;
    top: 10vw;

}

#fluesvamp3 {
    background-image: url("Fluesvamp3.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 10vw;
    z-index: 1;
    position: absolute;
    left: 30vw;
    top: 10vw;

}

#redbull {
    background-image: url("Redbull.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 8vw;
    z-index: 1;
    position: absolute;
    left: 20vw;
    top: 10vw;

}

#godsvamp1 {
    background-image: url("God%20svamp1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 8vw;
    z-index: 1;
    position: absolute;
    left: 60vw;
    top: 10vw;

}

#godsvamp2 {
    background-image: url("God%20svamp2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 8vw;
    z-index: 1;
    position: absolute;
    left: 70vw;
    top: 10vw;

}

#godsvamp3 {
    background-image: url("God%20svamp3.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 8vw;
    z-index: 1;
    position: absolute;
    left: 80vw;
    top: 10vw;

}

#godsvamp4 {
    background-image: url("God%20svamp4.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 10vw;
    z-index: 1;
    position: absolute;
    left: 90vw;
    top: 10vw;

}

/******** START *********/

#menu_background {
    background-image: url("Startsk%C3%A6rm.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin: none;
    top: 0;
    left: 0;
    display: none;
}

#hojtaler {
    background-image: url("hojtaler.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25vw;
    height: 17vw;
    z-index: 3;
    position: absolute;
    left: 55vw;
    top: 40vw;
}

#settings {
    background-image: url("Setting.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 6vw;
    z-index: 1;
    position: absolute;
    left: 1vw;
    top: 52vw;
    display: none;
}


/******** SETTINGS *********/

#menu_background {
    background-image: url("Startsk%C3%A6rm_settings.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin: none;
    top: 0;
    left: 0;
    display: none;

}

#settings #indstillinger {
    background-image: url("indstillinger.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 30vw;
    z-index: 3;
    position: absolute;
    left: 54vw;
    top: 5vw;
    display: none;
}

#settings #karakter {
    background-image: url("Karakter.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 50vw;
    z-index: 3;
    position: absolute;
    left: 20vw;
    top: 17vw;
    transform: scaleX(-1);
    display: none;

}

/******** GAMEOVER *********/


#gameover #game_over {
    background-image: url("game_over.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 30vw;
    z-index: 3;
    position: absolute;
    left: 54vw;
    top: 5vw;
    display: none;
}

#gameover #karakter {
    background-image: url("Karakter.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 50vw;
    z-index: 3;
    position: absolute;
    left: 20vw;
    top: 17vw;
    transform: scaleX(-1);
    display: none;

}

/******** GAMECOMPLETE *********/


#levelcomplete #game_complete {
    background-image: url("game_complete.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 30vw;
    z-index: 3;
    position: absolute;
    left: 54vw;
    top: 5vw;
    display: none;
}

#gamecomplete #karakter {
    background-image: url("Karakter.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 50vw;
    z-index: 3;
    position: absolute;
    left: 20vw;
    top: 17vw;
    transform: scaleX(-1);
    display: none;

}
